.vs/**
Granat_Katya_pre-interview/Debug/**
**/*TLOG
**/*OBJ
**/*.o
Debug/**
Granat_Katya_pre-interview.sln
example_out.txt
Granat_Katya_pre-interview/example_out.txt
Granat_Katya_pre-interview/tests
Granat_Katya_pre-interview/workwithfile
